# Maven
target/
dependency-reduced-pom.xml

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse / NetBeans / VS Code
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
.vscode/

# macOS
.DS_Store

# Secretos y entornos
.env
*.pem
*.key

# Logs
*.log
